.DropdownSelect {
	position: relative;
	display: inline-block;
}
.formControl {
	width: 30vh;
	position: fixed;
	z-index: 1;
}

/* ////   Mobile   //// */

@media only screen and (max-width: 600px) {
	.formControl {
		max-width: 15vh;
	}

}