.App {
  text-align: center;
  height: 100vh;
  background: url("./images/coffee.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.controls {
  display: flex;
  justify-content: center;
  padding-top: 25vh;
  align-items: center;
}

.checkbox {
  padding-left: 2vh;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 0vh;
  padding-bottom: 3vh;
}

h3 {
  padding-right: 10px;
  padding-left: 10px;
}

h1 {
  margin-top: 0;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .App {
    background-size: 250% 100%;
  }
  .main {
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
    width: 100%;
    text-shadow: 2px 2px white;
  }
  .solution {
    border-radius: 5px;
    background-color: white;
    opacity: 0.7;
  }
}
